<ion-view view-title="Record">
  <ion-content>
    <ion-list>
      <ion-item>
      </ion-item>
    </ion-list>
    <div class="list">
      <label class="item item-input item-stacked-label">
      <span class="input-label">Number of Sets</span>
      <input id="numOfReps" placeholder="Number of Sets" required>
      </label>

      <label class="item item-input item-stacked-label">
      <span class="input-label">Number of Reps</span>
      <input id="weightTarget" placeholder="Number of Reps">
      </label>

      <label class="item item-input item-stacked-label">
      <span class="input-label">Target Weight</span>
      <input id="weightTarget" placeholder="Target Weight">
      </label>
    </div>
  </ion-content>
</ion-view>
<!-- type="item-text-wrap" input fields for adding an exercise to the workout plan ng-repeat="record in records" href="#/tab/records/{{record.id}} -->
        <!--<form ng-controller="RecordCtrl">-->
          <!-- ng-style="{'background': 'rgb(204, 204, 204)', 'background': 'rgba(204, 204, 204, 0.5)'}">
-->
          <!--<div>
            <input type="text" placeholder="Enter Exercise" ng-model="newExercise.name" required>
            <input type="text" placeholder="Enter Sets" ng-model="newExercise.sets" required>
            <input type="text" placeholder="Target Reps" ng-model="newExercise.reps" required>
            <input type="text" placeholder="Target Weight" ng-model="newExercise.targetWeight" required>
          </div>-->

          <!--<div>
            <button id="adder" type="button">Add workout</button>
          </div>

        <br>-->

        <!-- exercises added into the workout plan -->
        <!--ng-click="add()"-->

          <!--<div name='exerciseData' ng-repeat="exercise in exercises track by $index">-->
            <!--<input id="exerciseName" type="text" value="{{exercise.name}}" readonly>-->
            <!--ng-model="exercise.sets" ng-model="exercise.reps" ng-model="exercise.targetWeight" ng-model="exercise.actualWeight"--> 
            <!--<ion-input id="numOfSets" placeholder="Number of Sets"  required></input>
            <ion-input id="numOfReps" placeholder="Number of Reps" required></input>
            <ion-input id="weightTarget" placeholder="Target Weight" readonly></input>
            <ion-input id="weightActual" placeholder="Weight" required></input>-->
          <!--</div>-->

          <!--<br>

          <div>
            <!ng-click="logWorkout()"-->
            <!--<button type="button" id="logger">Log</button>
          </div>-->
        <!--</form>-->

        <!--<div>
          <!ng-click="seeWorkoutHistory()"-->
          <!--<button type="button"  id="historyViewer">Check out history</button>
        </div>-->
    

